@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
     body {
      @apply font-mono bg-primary text-white leading-loose; 
     }

     .h1 {
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
     }

     .h2 {
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
     }

     .h3 {
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
     } 

     .text-outline {
      -webKit-text-stroke : 1px #ffffff;
   
     }
   
     .text-outline-hover {
      -webKit-text-stroke : 1px #00ff99;
      
     }

  }

  ::-webkit-scrollbar{
   width: 10px;
 
 } 
 
 ::-webkit-scrollbar-track{
   /* background: rgba(0, 0, 0, 0.295); */
   background: white;
 }
 
 ::-webkit-scrollbar-thumb{
   background:#00ff99;
   border-radius: 0px;
 }

 